#root {
    
}

body {
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
}
.navbar {
    font-size: 1rem;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    
}

.navLink {
    text-decoration: none;
    color: var(--color-primary);
}
.navLink:hover {
    color: var(--color-accent)
}